.idle {
    width: 90px;
    height: auto;
}

.idle:hover {
    cursor: pointer;
    border: 1px solid white;
}

.wrong {
    width: 90px;
    height: auto;
    border: 1px solid red;
}

.right {
    width: 90px;
    height: auto;
    border: 1px solid green;
}

.safety-text {
    margin-top: 20px;
    text-align: center;
}

.gloves {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}